@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import "./variables.scss";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: var(--background-color);
}

.app {
  width: 100%;
  height: 100vh;
  font-family: "Rubik", sans-serif;
}

.content {
  margin: 0 auto;
  padding: 3%;
  max-width: 1200px;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 1rem;
}

.weatherContainer {
  padding: 2rem;
  box-shadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  border-radius: 0 1rem 1rem 0;
  background: var(--block-background-color);
}

.title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--text-color);
}

.noData {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a9a9a9;

  p {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  span {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 996px) {
  .content {
    height: auto;
    grid-template-columns: 100%;
    gap: 2rem;
  }

  .weatherContainer {
    margin-bottom: 3rem;
    width: 100%;
    border-radius: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .title {
    text-align: center;
    font-size: 1.2rem;
  }
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  color: var(--main-theme);
  font-size: 1.5rem;
  cursor: pointer;
}

.swiper-scrollbar {
  display: block !important;
  margin-top: 0.5rem;
  height: 12px;
  // background: #f2f2f7;
  background: rgba(110, 110, 110, 0.2);
  border-radius: 92px;
}

.swiper-scrollbar-drag {
  height: 12px;
  border-radius: 92px;
  background-color: var(--main-theme);
}
